<% provide(:title, @user.name)  %>
<br>
<div class="row text-center margin-top">
  <div class="small-12 medium-4 columns text-left">
      <h4 class='left'>
        <%= gravatar_for @user, {size: 75} %>
      </h4>
      <h4 class='g_name'>
        <%= @user.name %>
      </h4>
  </div>
  <div class='small-12 medium-8 columns'>
    <% if @user.microposts.any? %>
      <h4 class="text-left m_title"> Microposts (<%= @user.microposts.count %>) </h4>
      <ul class="list-style-none">
          <%= render @microposts %>
      </ul>
      <%= will_paginate @microposts %>
    <% end %>

  </div>

</div>