<!-- <footer class="footer">
  <small>
    <a href="http://railstutorial.org/">Rails Tutorial</a>
    by Michael Hartl
  </small>
  <nav>
    <ul>
      <li><%#= link_to "About",   about_path %></li>
      <li><%#= link_to "Contact", contact_path %></li>
      <li><a href="http://news.railstutorial.org/">News</a></li>
    </ul>
  </nav>
</footer>
 -->
<br>

<div class="row">
  <div class="small-12 columns">
    <hr>
  </div>
  <div class=" medium-6 columns hidden-for-small">
    <p class="left"><a href="http://railstutorial.org/">Rails Tutorial</a>
    by Michael Hartl
    </p>
  </div>
  <div class="small-12 medium-6 columns">
    <ul class=" no-list right" style="list-style:none;">
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://news.railstutorial.org/">News</a></li>
    </ul>
  </div>
</div>



<!-- <ul class=" no-list right" style="display:inline-block; list-style:none;;">
      <li style="display:inline-block;"><%= link_to "About",   about_path %></li>
      <li style="display:inline-block;"><%= link_to "Contact", contact_path %></li>
      <li style="display:inline-block;"><a href="http://news.railstutorial.org/">News</a></li>
    </ul> -->
<br>


<!-- 
    <div class="row">
      <div class="small-4 columns">
        <p><%= link_to "About",   about_path %></p>
      </div>
      <div class="small-4 columns">
        <p><%= link_to "Contact", contact_path %></p>
      </div>
      <div class="small-4 columns">
        <p><a href="http://news.railstutorial.org/">News</a></p>
      </div>
    </div> -->